<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to index.php" stopProcessing="true">
                    <match url="^$" />
                    <action type="Redirect" url="index.php" />
                </rule>
            </rules>
        </rewrite>

        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="http://e-evaluation.alajmi.com.sa" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, X-XSRF-TOKEN, X-Requested-With, Authorization" />
                <add name="Access-Control-Allow-Credentials" value="true" />
            </customHeaders>
        </httpProtocol>

        <httpErrors errorMode="Detailed" />

        <handlers>
            <remove name="php74-cgi" />
            <add name="php74-cgi" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php74\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
